@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap');

body{
    background-color: #131313;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#clock{
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    color: blue;
    font-size: 100px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 15px currentColor;
}